body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:linear-gradient(to right,#d76196,#6fc7e2);
}

.calculator {
    border: 1px solid #120f0f;
    border-radius: 5px;
    padding: 20px;
    background-color: #151313;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #eee;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ef45de;
}
